body { 
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    }

/* Nav Bar CSS */

.nav-bar {
    display: flex; min-height: 75px; 
    background-color: rgb(70, 102, 110); 
    justify-content: center;
    color: white
    }
.nav-bar-container { 
    display: flex; 
    width: 75%; 
    list-style: none;
    flex-wrap: wrap;
    }
    
.nav-buttons {
    margin: auto;
    display: block; 
    flex-basis: 150px; 

    text-align: center; 
    font-size: 20px;

    border-style: solid; 
    border-width: 1px; 
    border-color: #ffffff;
    }

/* Welcome section */

.section {
    display: flex;
    justify-content: center;
}
#sec-1 {
    background-image: url("imgs/section1.jpg");
    height: 750px;
    color: white
}
#head-container {
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#head-container > h1{
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: center;

    font-size: 75px;
}

#head-container > p{
    text-align: center;
    font-size: 30px;
}

/* Triple Column Section */

#sec-2 {
    background-color: white;
    height: 650px;
    display: flex ;
}

.sec-2-container {
    height: 500px;
    width: 100%;
    margin: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sec-2-container > .column {
    display: flex;
    margin: auto;
    height: 500px;
    flex-basis: 300px;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
    border-radius: 10px;
    border-color: white;
}

.column > img {
    height: 200px;
    width: 100%;
}

.column > p {
    width: 80%;
    color: rgb(74, 87, 87);
}

.col-but {
    text-align: center;
    padding-top: 4%;
    height: 30px;
    width: 105px;
    color: white;
}

#but1 {
    line-height: 100%;
    background: rgb(80, 182, 80);
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(77, 180, 77);
}

#but2 {
    background: rgb(230, 128, 111);
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(238, 130, 110);
}

#but3 {
    background: rgb(80, 179, 174);
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(73, 182, 176);
}

/* Double Column Section */

#sec-3 {
    background-color: white;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
}

.sec-3-container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.sec-3-container > .column {
    display: flex;
    margin: auto;
    height: 100% auto;
    flex-basis: 500px;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
    border-radius: 10px;
    border-color: white;
}

.sec-3-container > .column > img {
    height: 300px;
    width: 100%;
}

.sec-3-container > .column > p {
    width: 80%;
    color: rgb(74, 87, 87);
}

.read-more {
    height: 50px;
    width: 150px;
    background: rgb(255, 255, 255);
    color: rgb(112, 111, 111);
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
}